@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-primary: #0f172a;
  --color-accent: #2563eb;
  
  /* Custom colors from old system sync */
  --color-vves-primary: #013954;
  --color-vves-light: #025076;
}

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-[#f8fafc];
  }
}

/* Custom Utilities */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}
